.container-beersView {
    /* font-family: 'Baloo Tamma', cursive; */
      font-family:Gotham,Arial,Helvetica Neue,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.titled {
    margin-top: 90px;
}

.beer-card {
    height:10%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 3px 3px 5px black;
    display:flex;
    flex-direction:column;
    align-items: center;
    
}

.beer-card a, beer-card a:visited{
    color:black;
    text-decoration-line: none;
}

.buttonPage {
    position: fixed;
    border: none;
    background: transparent;
}

.left {
    left: 5px;
    top: 300px;
}
.right {

    position: fixed;
    right: 5px;
    top: 300px;

}


