.beerdetail-container{
   font-family: 'Baloo Tamma';
   font-size: 24;
   padding:10px;
}

.beerdetail-container h1{
    font-size:3em;
    padding-top: 100px;
}

.beerdetail-container h2{
    font-size:1.8em;
    margin-top:10px;
}

.beerdetail-container p{
    font-size:1.3em;
    font-weight: lighter;
    margin-top:10px;
}