.beersubmit {
    margin : 30px 110px 0 110px;
}

.marginseparation {
    margin : 10px 0;
}

.beersubmit input {
    text-align: center;
}


.verticalpadding input {
padding:100px 0;
margin:100px;
}



