.logo-container {
    width: 100%;
    margin-bottom:50px auto;
}

.logo-container img{
   width: 100%;
   margin: 0;
}

.logo-container h1{
    font-size: 50px;
    text-align: center;
    margin: 25px auto;
}
