.container {
    width: 100%;
    background: #ff9e30;
    background: -moz-linear-gradient(top, #ff9e30 0%, #ffcc00 0%, #f6290c 0%, #ffcc00 0%, #ff9e30 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff9e30), color-stop(0%, #ffcc00), color-stop(0%, #f6290c), color-stop(0%, #ffcc00), color-stop(100%, #ff9e30));
    background: -webkit-linear-gradient(top, #ff9e30 0%, #ffcc00 0%, #f6290c 0%, #ffcc00 0%, #ff9e30 100%);
    background: -o-linear-gradient(top, #ff9e30 0%, #ffcc00 0%, #f6290c 0%, #ffcc00 0%, #ff9e30 100%);
    background: -ms-linear-gradient(top, #ff9e30 0%, #ffcc00 0%, #f6290c 0%, #ffcc00 0%, #ff9e30 100%);
    background: linear-gradient(to bottom, #ff9e30 0%, #ffcc00 0%, #f6290c 0%, #ffcc00 0%, #ff9e30 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9e30', endColorstr='#ff9e30', GradientType=0);
    box-sizing: border-box;
}
