@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma &display=swap');
body {
    margin: 0;
    /* font-family: 'Baloo Tamma', cursive; */
       font-family:Gotham,Arial,Helvetica Neue,Helvetica,sans-serif;
 }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
