.login-container {
  font-family: 'Baloo Tamma', cursive;
}

.login-container p {
  position: absolute;
  left: 0;
  bottom: 0;
}

.login-container p span {
  display: inline;
  text-align: center;
}

.womargin {
  margin: 0;
}

.form-container {
  width: 100%;
  display: flex;
  margin: 45px 0;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.user-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: center;
}

.margin-login {
  margin-bottom: 30px;
  margin-top: 30px;
}
.margin-signup {
  margin-bottom: 10px;
}

.user-container input {
  font-family: 'Baloo Tamma', cursive;
  font-size: 16px;
  width: 200px;
  border-radius: 20px;
  margin-left: 15px;
  text-align: right;
  border: 4px black;
  border-style: solid;
  padding: 5px;
}

.user-container label {
  width: 100px;
  margin-left: 20px;
  line-height: 35%;
  font-size: 16px;
}

.button-login-singup {
  margin: 0 auto;
}
